.para{
  position: absolute;
  // background-color: rgba(0, 0, 255, 0.295);
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  overflow-x: hidden;
}
.digit{
  position: absolute;
  top: 10px;
}