@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.port-container{
  height: 500px;
  
  .link-port{
    color: white;
    &:hover{
      color: rgb(192, 192, 192);
    }
  }
}