@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');



.show{
  transition: 200ms ease all;
    min-width: 299px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;

  .speech-bubble{

    position: absolute;
    max-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.4rem double black;
    border-radius: 40px;

    transition: 200ms ease all;
    
  
    .msg-itself{
      transition: 200ms ease all;


      font-family: 'News Cycle', sans-serif;

      letter-spacing: 1px;

      display: flex;
      justify-content: center;
      align-items: center;

      background: rgb(255, 250, 244);
      border-radius: 35px ;
      border: 0.1rem dotted black;
      max-width: 300px;
      padding: 15px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      font-size: 1.3rem;

      text-align: center;

    }
  
  }

}

