@keyframes rotateForSmaller {
  from {
    transform: rotate(360deg);
    filter: invert(0.5)
  }
  to{
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    filter: invert(0.5)
  }
  to{
    transform: rotate(360deg);
  }
}


.gear-holder{
  transition: 200ms ease all;
  width: 190px;
  height: 120px;
  display: flex;
  flex-direction: row;


  .gear-holder-left{
    transition: 200ms ease all;
    height: 100%;
    width: 18%;
    display: flex;
    align-items: flex-end;
  
    .left-gear{
      transition: 200ms ease all;
      animation: rotate 2s infinite;
    }
  }


  .gear-holder-middle{
    transition: 200ms ease all;
    height: 100%;
    width: 57%;
    .middle-gear-wrapper{
      transition: 200ms ease all;
      position: relative;
      .middle-gear{
        transition: 200ms ease all;
      position: absolute;
      animation: rotate 2.5s infinite;
      }
      .small-middle-gear{
        transition: 200ms ease all;
        position: absolute;
        filter: invert(0.8);
        animation: rotateForSmaller 4s infinite;
      }
      .smaller-middle-gear{
        transition: 200ms ease all;
        position: absolute;
        right: 5px;
        top: 60px;
        filter: invert(0.8);
        animation: rotateForSmaller 10s infinite;
      }
    }
  }

  .gear-holder-right{
    transition: 200ms ease all;
    height: 100%;
    position: relative;

    .right-gear{
      transition: 200ms ease all;
      position: absolute;
      left: -18px;
      top: -10px;
      animation: rotate 3s infinite;
    }
  }
}