// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

@keyframes rotate {
  from {
    transform: rotate(0deg);
    filter: invert(0.2)
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotateForSmaller {
  from {
    transform: rotate(0deg);
    filter: invert(0.7)
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes gearIntro {
  from {
    width: 0;
    height: 0;
    transform: translate(0,-100px);
  }
  to {
    width: 190px;
    height: 120px;
    transform: translate(0,0);
  }
}

@keyframes fullStackDeveloperIntro {
  from {
    opacity: 0;
    transform: translate(0 , -15px);
  }
  to {
    opacity: 1;
    transform: translate(0 , 0);
  }
}

.first-card-intro{
  animation: fullStackDeveloperIntro 1.3s alternate;
}

.comp-main-container{
  position: relative;
  background: rgb(100, 75, 99);
  width: 100vw;
  // height: 200vh; maybe i wont need it?

  .firstCard{
    position: relative;
    background-color: rgb(88, 192, 240);

    width: 100%;
    height: 85vh;
  

    .gear-container{
      // background-color: rgb(255, 126, 126);
      width: 100vw;
      height: 30%;
      
      .gear-holder{
        // background-color: rgb(126, 255, 165);
        display: flex;
        flex-direction: row;
        width: 190px;
        height: 120px;
        position: absolute;
        animation: gearIntro 0.7s;
      }
      
      .gear-holder-left{
        height: 100%;
        width: 18%;
        display: flex;
        align-items: flex-end;
        .left-gear{
          animation: rotate 1.4s infinite;
        }
      }
      .gear-holder-middle{
        height: 100%;
        width: 57%;
        .middle-gear-wrapper{
          position: relative;
          .middle-gear{
            position: absolute;
            animation: rotate 2.5s infinite;
          }
  
          .small-middle-gear{
            position: absolute;
            filter: invert(0.8);
            animation: rotateForSmaller 4s infinite;
          }
          .smaller-middle-gear{
            position: absolute;
            right: 5px;
            top: 60px;
            filter: invert(0.8);
            animation: rotateForSmaller 10s infinite;
          }
        }
      }
      .gear-holder-right{
        height: 100%;
        position: relative;
        .right-gear{
          position: absolute;
          left: -18px;
          top: -10px;
          animation: rotate 3s infinite;
        }
      }
    }







    
    .dev-kavian{
      position: absolute;
      // margin-top: 8rem;
      font-size: 5rem;
      opacity: 0;
      text-align: center;
    }


    .developer-logo-container{
      height: 37%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .left-bracket-container{
        position: relative;
        width: 100%;
        height: 100%;

        .left-bracket{
          position: absolute;
          font-size: 9rem;
          font-family: 'Open Sans Condensed', sans-serif;
          // font-family: 'Roboto', sans-serif;
          opacity: 0;
          right: 95px;
        }
      }

      .middle-slash-container{
        display: flex;
        // align-items: center;
        align-items: flex-end;
        
        .middle-slash{
          font-size: 7rem;
          font-family: 'Open Sans Condensed', sans-serif;
          // font-family: 'Roboto', sans-serif;
          opacity: 0;
        }
      }

      .right-bracket-container{
        position: relative;
        width: 100%;
        height: 100%;
        
        .right-bracket{
          position: absolute;
          font-size: 9rem;
          font-family: 'Open Sans Condensed', sans-serif;
          // font-family: 'Roboto', sans-serif;
          opacity: 0;
          left: 95px;
        }
      }
    }



    .msg-container{
      // background-color: rosybrown;
      height: 60%;

      .msg-title-container{
        // background-color: royalblue;
        height: 20%;
        
        .msg-title{
          // background-color: salmon;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 20px;
        }
        
        .list-container{
          list-style: none;
          text-align: center;
          margin: 1rem;
          

          .list{
            padding: 1.3rem;


            & > h3{
              margin-bottom: 0.5rem;
            }
          }
        }

      }


      .skill-container{
        // background-color: seagreen;
        height: 80%;
        .skill-logos{
          text-align: center;
          // background-color: slateblue;
          height: 33.33%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }





  }
}


@keyframes slideDown {
  from {
    transform: translate(0px,-20px);
  }

  to {
    transform: translate(0px,0px);
  }
}


.testHeight{
  background-color: powderblue;
}








////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


// .comp-main-container{
  // position: relative;
  // background: purple;
// }

// .first-section{
//   background-color: rgb(77, 201, 223);
  // width: 100vw;
  // height: 90vh;
// }

// .dev-kavian{
  // // text-align: center;
  // // font-size: 5rem;
  // position: absolute;
  // margin-top: 8rem;
// }


// .front-bracket-container{
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // height: 50%;
// }


// .left-bracket-container{
  // position: relative;
  // width: 100%;
  // height: 100%;
// }

// .middle-slash-container{
  // display: flex;
  // align-items: center;
// }

// .right-bracket-container{
  // position: relative;
  // width: 100%;
  // height: 100%;
// }



// .left-bracket{
  // font-size: 9rem;
  // font-family: 'Roboto', sans-serif;
  // position: absolute;
  // right: 100px;
  // opacity: 0;
  
// }

// .middle-slash{
  // font-size: 7rem;
  // font-family: 'Roboto', sans-serif;
  // opacity: 0;

// }

// .right-bracket{
  // font-size: 9rem;
  // font-family: 'Roboto', sans-serif;
  // position: absolute;
  // opacity: 0;
  // left: 100px;
// }



// .msg-container{
  // width: 100vw;
  // background: purple;
  // position: relative;
// }




// .msg-title{
  // position: absolute;
  // animation: slideDown 3s;
// }