@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');



@keyframes rotate {
  from {
    transform: rotate(0deg);
    filter: invert(0.5)
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotateForSmaller {
  from {
    transform: rotate(360deg);
    filter: invert(0.5)
  }
  to{
    transform: rotate(0deg);
  }
}


@keyframes shine {
  0% { 
    mask-position: 150%; 
  }
  10%{
    filter: invert(0.4);
  }
  15%{
    filter: invert(0);
  }
  25% { 
    mask-position: -50%; 
  }
  100%{
    mask-position: -50%; 
  }
}


.top-card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 270px;
  background: rgb(249, 112, 112);


  .dev-kavian{
    position: absolute;
    transform: scale(0.7);

    .character-container{

    }

    .dev-kavian-name{
      mask-image: linear-gradient(-75deg, rgb(255, 255, 255) 49%, rgba(0, 0, 0, 0.021) 50%, rgb(255, 255, 255) 58%);
      mask-size: 200%;
      animation: shine 5s linear infinite;
      font-size: 5rem;
      text-align: center;
      text-shadow: 2px 2px 3px gray;

    }
  }


  .gear-holder{
    width: 190px;
    height: 120px;
    display: flex;
    flex-direction: row;
    animation: gearIntro 1s;


    .gear-holder-left{
      height: 100%;
      width: 18%;
      display: flex;
      align-items: flex-end;
    
      .left-gear{
        animation: rotate 2s infinite;
      }
    }


    .gear-holder-middle{
      height: 100%;
      width: 57%;
      .middle-gear-wrapper{
        position: relative;
        .middle-gear{
        position: absolute;
        animation: rotate 2.5s infinite;
        }
        .small-middle-gear{
          position: absolute;
          filter: invert(0.8);
          animation: rotateForSmaller 4s infinite;
        }
        .smaller-middle-gear{
          position: absolute;
          right: 5px;
          top: 60px;
          filter: invert(0.8);
          animation: rotateForSmaller 10s infinite;
        }
      }
    }

    .gear-holder-right{
      height: 100%;
      position: relative;

      .right-gear{
        position: absolute;
        left: -18px;
        top: -10px;
        animation: rotate 3s infinite;
      }
    }
  }
}


.clip-background-color{
  // background-color:#ffaeae;
  .path-clip-border{
    height: 2.2rem;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: rgba(105, 67, 67, 0.767);
  }
  .path-clip{
    background: rgb(249, 112, 112);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 2rem;
  }
}

.parallax{
  position: relative;
}


.firstCard{
  // background-color:#ffaeae;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .msg-title{
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    margin: 0;
    margin-top: 25px;
    text-align: center;
    font-size: 4rem;
    text-shadow: 1px 1px 3px rgb(121, 121, 121);
  }

  .list-container{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
    
    .list{
      padding: 50px;
      border: 1px solid rgb(95, 95, 95);
      margin: 30px 0;

      margin-bottom: 40px;
      background-color: rgba(255, 210, 210, 0.363);
      box-shadow: 0px 0px 5px 0 rgb(143, 143, 143);
      
      .title-logo{
        margin: 0;
        padding: 0;
        font-size: 3rem;

        mask-image: linear-gradient(-75deg, rgb(255, 255, 255) 49%, rgba(0, 0, 0, 0.021) 50%, rgb(255, 255, 255) 58%);
        mask-size: 200%;
        animation: shine 3s linear infinite;
        text-align: center;
        text-shadow: 2px 2px 3px gray;
      }

      .title-msg{
        
      }
      
      .title-description{

      }

    }
  }

}


.clip-background-color-two{
  .path-clip-border-two{
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    height: 2rem;
    background: rgba(105, 67, 67, 0.767);
    
  }
  .path-clip-two{
    background: rgb(249, 112, 112);
    clip-path: polygon(50% 12%, 0 100%, 100% 100%);
    
    height: 2rem;
  }
}

.second-card{
  background: rgb(249, 112, 112);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  .skill-title{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 4.8rem;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
  }
  .skill-logos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 230px;
    
    &>img{
      padding: 20px;
      background-image: radial-gradient(rgba(255, 255, 255, 0.602) 0%, rgba(0, 0, 255, 0) 53%);
      &.react{
        background-image: radial-gradient(rgba(179, 179, 179, 0.602) 0%, rgba(0, 0, 255, 0) 53%);
      }
    }

    .and-more{
      text-shadow: 1px 0 3px white;
    }

  }
}

.comp-footer{
  text-align: center;
  color: black;
  background-color:rgba(255, 248, 236, 0.733);
  height: 70px;
  border-top: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-year{
  font-size: 0.8rem;
}

@media only screen and (max-width: 434px) {
  .top-card {
    height: 335px;
  }
}




// @keyframes logoIntroLeft {
//   0% {
//     opacity: 0;
//     transform: translate(-40px , 0);
//   }
//   100% {
//     opacity: 1;
//     transform: translate(0 , 0);
//   }
// }

// @keyframes logoIntroRight {
//   from {
//     opacity: 0;
//     transform: translate(40px , 0);
//   }
//   to {
//     opacity: 1;
//     transform: translate(0 , 0);
//   }
// }

// @keyframes logoIntroTitle {
//   from {
//     opacity: 0;
//     transform: translate(0 , 5px);
//   }
//   to {
//     opacity: 1;
//     transform: translate(0 , 0);
//   }
// }


// .is-hiding{
//   opacity: 0;
// }


// @keyframes pulse {
//   from{
//     filter: invert(0.3);
//   }
//   to{
//     filter: invert(0);
//   }
// }



// @keyframes borderBoxShadow {
//   0%{
//     background-color: #ffffff00;
//     border: 1px solid rgba(167, 167, 167, 0);
//     box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
//   }
//   95%{
//     border: 1px solid rgba(167, 167, 167, 0);
//     box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
//     background-color: #ffffff00;
//   }
//   100% {
//     border: 1px solid rgb(167, 167, 167);
//     box-shadow: 0 3px 15px -5px black;
//     background-color: #ffffff24;
//   }
// }





// @keyframes gearIntro {
//   0% {
//     width: 0;
//     height: 0;
//     opacity: 0;
//     transform: translate(0,-100%);
//   }
// 50%{
//   transform: translate(-25%,0);
// }
//   100% {
//     width: 190px;
//     height: 120px;
//     opacity: 1;
//     transform: translate(0%, 30px);
//   }
// }

// @keyframes fullStackDeveloperIntro {
//   from {
//     opacity: 0;
//     transform: translate(0px , -40px);
//   }
//   to {
//     opacity: 1;
//     transform: translate(0 , 0);
//   }
// }

// @keyframes logoIntro {
//   from {
//     opacity: 0;
//     font-size: 0;
//   }
//   to {
//     opacity: 1;
//     font-size: 3rem;
//   }
// }


