
@mixin openClipBottom{
  clip-path: polygon(50% 10%, 100% 65%, 100% 100%, 0 100%, 0 65%);
}

@mixin openWrapper{
  background: rgb(249, 112, 112);
  clip-path: polygon(50% 0%, 100% 79%, 100% 100%, 50% 100%, 0 100%, 0 79%);
}

@mixin openClipBackgroundBottom{
  clip-path: polygon(50% 10%, 100% 90%, 100% 100%, 0 100%, 0 90%);
}

@mixin openClipBackgroundBottomOther {
  
}


@mixin openClipBottomOther{
  clip-path: polygon(50% 10%, 100% 65%, 100% 100%, 0 100%, 0 65%);
}

@mixin openWrapperOther{
  background: rgb(249, 112, 112);
  clip-path: polygon(50% 0%, 100% 16%, 100% 100%, 50% 100%, 0 100%, 0 16%);
}





.clip-background-color-bottom{
  .path-clip-border-bottom{
    height: 2rem;
    background-color: rgba(105, 67, 67, 0.767);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
    transition: 400ms ease all;
    &.open{
      @include openClipBackgroundBottom();
    }
    &.open-other{
      @include openClipBackgroundBottomOther();
    }
  }
  .path-clip-bottom{
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
    background: rgb(249, 112, 112);
    height: 3rem;
    transition: 1000ms ease all;
    &.open{
      @include openClipBottom();
    }
    &.open-other{
      @include openClipBottomOther();
    }
  }
}

.bottom-margin-two{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 50px;
  background-color:#f97070 ;
}

.bottom-margin-wrapper{
  background: rgb(249, 112, 112);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  transition: 900ms ease all;
  &.open{
    @include openWrapper();
  }
  &.open-other{
    @include openWrapperOther();
  }
}