@mixin openBorder {
  clip-path: polygon(100% 0, 100% 0%, 50% 100%, 0 0%, 0 1%);
  background: linear-gradient(transparent, rgba(105, 67, 67, 0.767))
}

@mixin openClip {
  clip-path: polygon(100% 0, 100% 0%, 50% 100%, 0 0%, 0 1%);
}

@mixin wrpperOpen {
  clip-path: polygon(50% 0%, 100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);

}

.top-margin-container{
  background-color:#f97070 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3rem;

  .top-margin-msg{
    mask-image: linear-gradient(-75deg, rgb(255, 255, 255) 49%, rgba(0, 0, 0, 0.021) 50%, rgb(255, 255, 255) 58%);
    mask-size: 200%;
    animation: shine 5s linear infinite;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.712);
  }
}


.clip-background-color{
  .path-clip-border{
    clip-path: polygon(100% 0, 100% 100%, 46% 100%, 0 100%, 0 1%);
    height: 2.2rem;
    transition: 1000ms ease all;
    &.open{
      @include openBorder();
    }
  }
  .path-clip{
    background: rgb(249, 112, 112);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 1%);
    height: 2rem;
    transition: 1000ms ease all;
    &.open{
      @include openClip();
    }
  }
}

.top-wrapper{
  background: rgb(249, 112, 112);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  transition: 1000ms ease all;

  &.open{
    @include wrpperOpen();
  }
  
}