@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(192, 190, 190);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px 20px;
  background-color: rgb(250, 242, 242);
  background: linear-gradient(90deg, transparent -10%, #00000032, transparent 107%);
  .card-title{
    margin: 10px 0;
    text-align: center;
    // font-weight: 800;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(250, 247, 247);
    font-size: 1.4rem;
    
  }
  .card-img{
    width: 270px; 
    height: 270px;
    object-fit: cover;
    object-position: top;
    border: 1px solid rgb(139, 139, 139);
    margin-bottom: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.082);
  }
  .card-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    &>a{
      &.gray{
        background-color: gray;
      }
      margin: 5px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border-radius: 5px;
      background: rgb(76, 118, 235);
      height: 30px;
      width: 70%;
      color: white;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 2px;
      font-weight: 800;
      &:hover{
        background: rgb(204, 132, 132);
        color: white;
      }
    }
  }
}

