@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


.card-wrapper{
  position: relative;
  .invisibleClickShield{
  position: absolute;
  height: 270px;
  z-index: 10000;
  top: 0;
  right: 10px;
  left: 10px;
  pointer-events: none;
  }
}

.card {
  width: 270px; 
  height: 433px;
  margin: 0px 10px;
  margin-bottom: 15px;
  perspective: 1000px;

  .card-top{
    box-shadow: 0px 0px 10px -4px black;
    position: relative;
    width: 270px;
    height: 270px;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }
  
    .card-top-front, .card-top-back{
      position: absolute;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
    }

    &:hover >.card-top-front > .arrow > img , &:hover >.card-top-front > .arrow{
      opacity: 0;
      box-shadow: -10px 0 6px -10px rgba(255, 255, 255, 0.349);
      background-color: rgba(202, 191, 170, 0);
    }


    .card-top-front{
      &>img{
        width: 270px;
        height: 270px;
        object-fit: cover;
        object-position: top;
      }

      .arrow{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        background-color: rgba(189, 189, 189, 0.342);
        box-shadow: -10px 0 6px -10px rgba(0, 0, 0, 0.349);
        border: 1px solid rgba(139, 141, 141, 0.164);
        opacity: 1;
        transition: 1s ease all;
        backdrop-filter: blur(2px);
        &>img{
          transition: 1s ease all;
          opacity: 1;
          transform: rotate(-90deg);
          pointer-events: none;
        }

      }

    }


    .card-top-back{
      transform: rotateY(180deg);
      overflow-y: scroll;
      padding: 20px;
      line-height: 20px;
      background: white;

      color: black;
      display: flex;
      flex-direction: column;

      .tech-stack{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
        .tech-stack-texts{
          background-color: red;
          color: white;
          width: 90%;
        }
        .tech-stack-icons{
          position: relative;
          width: 26px;
          transition: 0.2s ease all;
          opacity: 0;
          mix-blend-mode: color-dodge;
          &.active{
            mix-blend-mode: multiply;
            opacity: 1;
          }
        }
        .icon-wrapper{
          position: relative;
          .tooltip-tip{
            position: absolute;
            opacity: 0;
            transition: 300ms ease opacity;
            z-index: 10;
            pointer-events: none;
          }
        }
        .icon-wrapper:hover > .tooltip-tip{
          $border-thickness: 20px;
          opacity: 1;
          top:8px;
          left: -2px;
          width: 0px;
          height: 0px;
          border: $border-thickness solid rgb(96, 30, 163);
          border-top: $border-thickness solid transparent;
          border-right: $border-thickness - 5 solid transparent;
          border-left: $border-thickness - 5 solid transparent;
        }
        .tooltip-body{
          transition: 300ms ease opacity;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          width: 240px;
          background-color: rgb(96, 30, 163);
          top: 68px;
          padding: 15px;
          z-index: 100;
          color: white;
          border-radius: 7px;
        }
        .icon-wrapper:hover ~ .tooltip-body {
          opacity: 1;
        }
      }

      .about{
        position: relative;
        .curtain{
          display: none;
          width: 100%;
          height: 200px;
          background: linear-gradient(transparent 50%, white 80%);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    
    }
  }

  .card-bottom{
    border: 1px solid #b6b6b6;
    border-top: none;
    background: #e4e2e2;
    height: 158px;

    .bottom-wrapper{
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      justify-content: center;
      flex-direction: column;

      .title{
        color: rgb(102, 98, 98);
        font-weight: 800;
        width: 300px;
        margin: 10px 0;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 1.5px;
        font-size: 1.4rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50% , 0px);
      }

      
      .button1, .button2{
        width: 220px;
        left: 50%;
        transform: translate(-50% , 0);
        position: absolute;
        height: 35px;
        
        margin: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 5px;
        height: 30px;
        width: 70%;
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 2px;
        font-weight: 800;
        background: #73b5b3;

        &:hover{
          background: rgb(204, 132, 132);
          color: white;
        }
        &.gray{
          pointer-events: none;
          background-color: gray;
          outline: none;
        }
        
      }
      .button2{
        transform: translate(-50% , 130%);

      }

    }
    
  }
}
