@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

$sub-color: grey;
$main-color: black;

@mixin shrinky {
  top: -14px;
  font-size: 12px;
  color: $sub-color;
}

.input-group{
  position: relative;
  margin: 45px 0;
  
  .form-input{
    letter-spacing: 1.5px;
    box-sizing: border-box;
    background: none;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;
    transition: 250ms ease-out all;
    
    &:focus{
      outline: none;
      border-bottom: 1px solid rgb(255, 134, 113);
    }
    
    &:focus ~ .form-input-label{
      @include shrinky();
    }

    &.shrink{
      border-bottom: 1px solid rgb(255, 134, 113);

    }
  }
  
  .form-input-label{
    color: $main-color;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    
    &.shrink {
      @include shrinky();
    }
  }
}


