@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


@mixin submit {
  opacity: 0;
  
}

@mixin thanks {
  opacity: 1;
}

.hide{
  display: none;
}

.contact-wrapper{

  .body-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;

    .thanks{
      position: absolute;
      opacity: 0;
      transition: 100ms ease all;
      pointer-events: none;
      &.submited{
        @include thanks();
      }
    }

    .form-wrapper{
      position: relative;
      height: 470px;
      transition: 300ms ease all;

      .form-itself{
        top: 50px;
        left: 50%;
        position: absolute;
        width: 350px;
        transform: translate(-50%, 0);
        transition: 300ms ease all;
        &.submited{
          @include submit();
          pointer-events: none;
        }

        .form-title{
          margin: 0;
          padding: 0;
          font-family: 'Open Sans Condensed', sans-serif;
          letter-spacing: 2px;
          margin-top: 52px;
          padding-bottom: 20px;
          text-align: center;
        }
      }
    }
    .button-container{
      display: flex;
      justify-content: center;
      align-items: center;
      .submit-button{
        width: 200px;
        height: 50px;
        background: rgb(255, 155, 155);
        color: black;
        border: none;
        font-size: 1.3rem;
        font-family: 'Open Sans Condensed', sans-serif;
        transition: 100ms all;

        &:hover{
          background: rgb(255, 230, 230);
          color: black;
          border: 2px solid black;
        }
      }
    }
  }
}



@media screen and (min-width: 310px) {
  .contact-wrapper .body-cont .form-wrapper .form-itself{
    width: 295px;
  }
}